.add-vet {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.add-vet h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    color: #007bff;
}

.add-vet form {
    display: flex;
    flex-direction: column;
}

.add-vet label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000;
}

.add-vet input {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
}

.add-vet input:focus {
    border-color: #007bff;
    outline: none;
}

.add-vet button {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.add-vet button:hover {
    background-color: #0056b3;
}

.success-message {
    color: green;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
  }

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
  }
