.adopt-new-animal-container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  #del-button {
    background-color: #dc3545;
    color: white;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }


  
  select, input, button {
    
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    cursor: pointer;
  }
  
  .list-animals-button {
    background-color: #007bff;
    color: white;
  }
  
  .adopt-button {
    background-color: #007bff;
    color: white;
  }
  
  .animal-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .animal-list li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .select-animal-button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    width: 54px;
    height: 44px;
  }
  
  .select-animal-button.selected {
    background-color: #28a745;
    color: white;
  }
  
  .adoption-message {
    margin-top: 20px;
    font-size: 16px;
    color: #28a745;
  }

  #foto-icon {
    margin-left: auto; /* Pushes the icon to the right */
    font-size: 24px; /* Increases the size of the icon */
    background: #007bff; /* Removes background color */
    border: none; /* Removes border */
    cursor: pointer; /* Changes cursor to pointer */
    display: flex; /* Aligns the icon */
    align-items: center; /* Centers icon vertically */
    justify-content: center; /* Ensures proper alignment */
    color: #ffffff; /* Matches the button color theme */
  }
  